In [1]:
#Hi i Am Ravikrishnan

Random values

In [12]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
import tensorflow as tf
from tensorflow import keras
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

# Simulate data
num_users = 100
num_articles = 500
num_categories = 10

# Simulated user features
user_features = np.random.rand(num_users, num_categories)  # Random category preferences
user_data = pd.DataFrame(user_features, columns=[f'Category_{i}' for i in range(num_categories)])
user_data['User ID'] = range(num_users)

# Simulated article features
article_features = np.random.randint(0, 2, size=(num_articles, num_categories))  # Random categories
article_data = pd.DataFrame(article_features, columns=[f'Category_{i}' for i in range(num_categories)])
article_data['Article ID'] = range(num_articles)

# Simulated interactions (target)
interactions = np.random.rand(num_users, num_articles)

In [ ]:
#############################################################################################

In [1]:


import requests #library to import api data 
import pandas as pd
import numpy as np
import random
from transformers import pipeline #NLP

# Fetch users and posts from JSONPlaceholder
#user data 
users_url = "https://jsonplaceholder.typicode.com/users"
#news
posts_url = "https://jsonplaceholder.typicode.com/posts"

# Get users and posts data
users_response = requests.get(users_url) #it will get the data 
posts_response = requests.get(posts_url)

# Initialize the Hugging Face zero-shot classification pipeline
model_name = "facebook/bart-large-mnli"    #the name of the nlp model
classifier = pipeline("zero-shot-classification", model=model_name, device=0) #training

#device=0  uses gpu 

# Define candidate labels (your categories)
candidate_labels = ["Sports", "Medical", "Tech"]

#--------------------------------------------------------------------------------------------------------------------------

num_users = 10
num_articles = 100
num_categories = 4

#--------------------------------------------------------------------------------------------------------------------------

if users_response.status_code == 200 and posts_response.status_code == 200:#checking data extracted,checks whether http requests are successful
    users = users_response.json() #.json() converts it to list of dictionaries
    posts = posts_response.json()
    #we will get 2 list of dictionary for one is users and one is posts
    # Prepare data: Create a list of dictionaries with 'id', 'name' and 'news titles'
    data = []
    for user in users:
        user_id = user['id']
        user_name = user['name']

        # Filter posts by the user_id
        user_posts = [post['title'] for post in posts if post['userId'] == user_id]

        # Create a dictionary for each user with their name, list of post titles, and random ratings
        data.append({
            'id': user_id, 
            'name': user_name, 
            'news titles': user_posts,  # Store the list of titles here
            'Sports': random.randint(1, 5),  # Random ratings between 1 and 5
            'Medical': random.randint(1, 5), 
            'Tech': random.randint(1, 5),
            'Watch Time': round(random.uniform(0, 24), 2)  # Random float value between 0 and 24, rounded to 2 decimals
        })

    # Create DataFrame for users with ratings
    user_df = pd.DataFrame(data)

    # Create a new DataFrame for news titles with Sports, Medical, and Tech
    title_data = []

    for user in users:
        user_id = user['id']

        # Filter posts by the user_id
        user_posts = [post['title'] for post in posts if post['userId'] == user_id]

        for title in user_posts:
            # Use the Hugging Face classifier to classify each news title
            result = classifier(title, candidate_labels)
            category = result['labels'][0]  # Get the most likely category
            score = result['scores'][0]  # Confidence score

            # Based on the classification, assign binary values for each category
            sports = 1 if category == "Sports" else 0
            medical = 1 if category == "Medical" else 0
            tech = 1 if category == "Tech" else 0

            # Add the title and category values to the list
            title_data.append({
                'News Title': title,
                'Sports': sports,
                'Medical': medical,
                'Tech': tech,
            })

    # Create DataFrame for the news titles with binary values for each category
    title_df = pd.DataFrame(title_data)
    user_features=user_df.drop(columns=['name','news titles','Watch Time'])
    user_data=user_df
    article_features=title_df.drop(columns=['News Title'])
    article_data=title_df
    # Display the DataFrames
    print("User_data:")
    print(user_data)
    print("User_features:")
    print(user_features)
    print("\narticle_data:")
    print(article_data)
    print("\narticle_features:")
    print(article_features)
    interactions = np.random.rand(num_users, num_articles)    
else:
    print("Error fetching data from APIs.")

c:\Users\Ravi krishnan A.M\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

WARNING:tensorflow:From c:\Users\Ravi krishnan A.M\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

c:\Users\Ravi krishnan A.M\AppData\Local\Programs\Python\Python39\lib\site-packages\huggingface_hub\file_download.py:140: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\Ravi krishnan A.M\.cache\huggingface\hub\models--facebook--bart-large-mnli. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

WARNING:tensorflow:From c:\Users\Ravi krishnan A.M\AppData\Local\Programs\Python\Python39\lib\site-packages\tf_keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

Some weights of the PyTorch model were not used when initializing the TF 2.0 model TFBartForSequenceClassification: ['model.encoder.version', 'model.decoder.version']
- This IS expected if you are initializing TFBartForSequenceClassification from a PyTorch model trained on another task or with another architecture (e.g. initializing a TFBertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing TFBartForSequenceClassification from a PyTorch model that you expect to be exactly identical (e.g. initializing a TFBertForSequenceClassification model from a BertForSequenceClassification model).
All the weights of TFBartForSequenceClassification were initialized from the PyTorch model.
If your task is similar to the task the model of the checkpoint was trained on, you can already use TFBartForSequenceClassification for predictions without further training.
Device set to use 0

User_data:
   id                      name  \
0   1             Leanne Graham
1   2              Ervin Howell
2   3          Clementine Bauch
3   4          Patricia Lebsack
4   5          Chelsey Dietrich
5   6      Mrs. Dennis Schulist
6   7           Kurtis Weissnat
7   8  Nicholas Runolfsdottir V
8   9           Glenna Reichert
9  10        Clementina DuBuque

                                         news titles  Sports  Medical  Tech  \
0  [sunt aut facere repellat provident occaecati ...       1        4     4
1  [et ea vero quia laudantium autem, in quibusda...       4        5     2
2  [asperiores ea ipsam voluptatibus modi minima ...       4        3     4
3  [ullam ut quidem id aut vel consequuntur, dolo...       5        1     1
4  [non est facere, commodi ullam sint et exceptu...       1        3     4
5  [soluta aliquam aperiam consequatur illo quis ...       4        2     4
6  [voluptatem doloribus consectetur est ut ducim...       1        2     5
7  [et iusto veniam et illum aut fuga, sint hic d...       2        1     4
8  [tempora rem veritatis voluptas quo dolores ve...       5        1     4
9  [aut amet sed, ratione ex tenetur perferendis,...       1        5     5

   Watch Time
0       23.64
1       21.71
2       23.58
3       16.81
4        3.35
5       10.71
6        0.13
7       14.25
8        3.33
9        2.16
User_features:
   id  Sports  Medical  Tech
0   1       1        4     4
1   2       4        5     2
2   3       4        3     4
3   4       5        1     1
4   5       1        3     4
5   6       4        2     4
6   7       1        2     5
7   8       2        1     4
8   9       5        1     4
9  10       1        5     5

article_data:
                                           News Title  Sports  Medical  Tech
0   sunt aut facere repellat provident occaecati e...       0        0     1
1                                        qui est esse       0        0     1
2   ea molestias quasi exercitationem repellat qui...       1        0     0
3                                eum et est occaecati       0        0     1
4                                  nesciunt quas odio       0        0     1
..                                                ...     ...      ...   ...
95  quaerat velit veniam amet cupiditate aut numqu...       0        0     1
96         quas fugiat ut perspiciatis vero provident       0        0     1
97                        laboriosam dolor voluptates       0        1     0
98  temporibus sit alias delectus eligendi possimu...       0        0     1
99              at nam consequatur ea labore ea harum       0        1     0

[100 rows x 4 columns]

article_features:
    Sports  Medical  Tech
0        0        0     1
1        0        0     1
2        1        0     0
3        0        0     1
4        0        0     1
..     ...      ...   ...
95       0        0     1
96       0        0     1
97       0        1     0
98       0        0     1
99       0        1     0

[100 rows x 3 columns]

In [ ]:
#####################################################################################

In [13]:
user_data.head(5)
#user_data.describe

,Category_0,Category_1,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,User ID
0,0.880129,0.745096,0.906387,0.867032,0.280362,0.923997,0.594500,0.032999,0.234221,0.353996,0
1,0.733979,0.817367,0.268438,0.544903,0.891306,0.774258,0.951155,0.383836,0.384857,0.943172,1
2,0.042992,0.189237,0.835230,0.971827,0.902835,0.555725,0.158756,0.888381,0.373437,0.822511,2
3,0.393547,0.270209,0.642507,0.085269,0.995769,0.576927,0.243533,0.507052,0.142420,0.992215,3
4,0.319711,0.043622,0.437376,0.729023,0.469597,0.829861,0.242999,0.714857,0.327980,0.922044,4

In [14]:
article_data.head(5)
#article_data.describe

,Category_0,Category_1,Category_2,Category_3,Category_4,Category_5,Category_6,Category_7,Category_8,Category_9,Article ID
0,1,0,1,1,0,1,1,1,0,0,0
1,0,0,0,0,0,1,1,0,1,0,1
2,1,1,1,0,0,1,1,1,0,1,2
3,0,1,0,1,0,0,0,1,0,0,3
4,1,1,1,1,1,1,1,0,1,1,4

In [15]:
interactions

array([[0.37717426, 0.12242754, 0.07019741, ..., 0.71399086, 0.18146716,
        0.49133705],
       [0.36352044, 0.95922666, 0.00855586, ..., 0.07414869, 0.30836361,
        0.49658657],
       [0.8519202 , 0.37779632, 0.16126675, ..., 0.01677642, 0.59620217,
        0.41249535],
       ...,
       [0.47212028, 0.70485327, 0.73297323, ..., 0.15308649, 0.92335142,
        0.66279078],
       [0.84779037, 0.55339759, 0.89679156, ..., 0.6335067 , 0.84897034,
        0.84445014],
       [0.78461169, 0.91872511, 0.90585676, ..., 0.49350335, 0.05135916,
        0.16017432]])

In [16]:
# Scaling user and article features
scaler_user = StandardScaler()
scaler_article = StandardScaler()

user_features_scaled = scaler_user.fit_transform(user_features)
article_features_scaled = scaler_article.fit_transform(article_features)

# Scale interaction scores
scaler_target = MinMaxScaler((0, 5))
interaction_scaled = scaler_target.fit_transform(interactions)

In [17]:
print("user_features_scaled.shape",user_features_scaled.shape)
print("article_features_scaled.shape",article_features_scaled.shape)
print("interaction_scaled.shape",interaction_scaled.shape)

user_features_scaled.shape (100, 10)
article_features_scaled.shape (500, 10)
interaction_scaled.shape (100, 500)

In [18]:
# Split into training and test sets
user_train, user_test= train_test_split(
    user_features_scaled, 
    train_size=0.8, 
    random_state=42
)

article_train, article_test= train_test_split(
article_features_scaled, 
    train_size=0.8, 
    random_state=42
)

y_train, y_test = train_test_split(
    interaction_scaled.flatten(),  # Flatten for single-dimension target
    train_size=0.8, 
    random_state=42
)

In [ ]:
num_outputs = 32
tf.random.set_seed(1)
user_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(128,activation='relu'),
    tf.keras.layers.Dense(num_outputs)
    ### END CODE HERE ###  
])

item_NN = tf.keras.models.Sequential([
    ### START CODE HERE ###     
    tf.keras.layers.Dense(256,activation='relu'),
    tf.keras.layers.Dense(128,activation='relu'),
    tf.keras.layers.Dense(num_outputs)
    ### END CODE HERE ###  
])

# create the user input and point to the base network
input_user = tf.keras.layers.Input(shape=(num_user_features))
vu = user_NN(input_user)
vu = tf.linalg.l2_normalize(vu, axis=1)

# create the item input and point to the base network
input_item = tf.keras.layers.Input(shape=(num_item_features))
vm = item_NN(input_item)
vm = tf.linalg.l2_normalize(vm, axis=1)

# compute the dot product of the two vectors vu and vm
output = tf.keras.layers.Dot(axes=1)([vu, vm])

# specify the inputs and output of the model
model = tf.keras.Model([input_user, input_item], output)

model.summary()

In [ ]:
tf.random.set_seed(1)
cost_fn = tf.keras.losses.MeanSquaredError()
opt = keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,
              loss=cost_fn)

In [ ]:
tf.random.set_seed(1)
model.fit([user_train[:, u_s:], item_train[:, i_s:]], y_train, epochs=30)

In [ ]:
model.evaluate([user_test[:, u_s:], item_test[:, i_s:]], y_test)

In [ ]:
#Here write the prediction code